<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cars</title>
	<style type="text/css">
.ui-widget {
	font-size: 90%;
}
</style>
</h:head>

<h:body>
	<h:form>
		<p:dataTable var="cliente" value="#{clienteDialog.clientes}">
			<p:column headerText="Código">
				<h:outputText value="#{cliente.id}" />
			</p:column>

			<p:column headerText="Nome">
				<h:outputText value="#{cliente.nome}" />
			</p:column>

			<p:column headerText="CPF/CNPJ">
				<h:outputText value="#{cliente.cpfCnpj}" />
			</p:column>

			<p:column style="width:32px;text-align: center">
				<p:commandButton icon="ui-icon-search"
					actionListener="#{dfCarsView.selectClienteFromDialog(cliente)}" />
			</p:column>
		</p:dataTable>
	</h:form>
</h:body>

</html>