<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<h2>Cliente</h2>
			<h:form>
				<p:messages id="messages" />
				<p:outputLabel value="Código:" />
				<br />
				<p:inputText id="idCliente" value="#{inseriAtualizaClienteMB.cliente.id}"
					disabled="true" />
				<br />
				<p:outputLabel value="Nome:" />
				<br />
				<p:inputText id="idNomeCliente" value="#{inseriAtualizaClienteMB.cliente.nome}"
					size="40" maxlength="40" required="true" />
				<br />
				<p:outputLabel value="Razão Social:" />
				<br />
				<p:inputText id="idRazaoSocialCliente"
					value="#{inseriAtualizaClienteMB.cliente.razaoSocial}" size="40" maxlength="40" />
				<br />
				<p:outputLabel value="CPF/CNPJ:" />
				<br />
				<p:inputText id="idCpfCnpjCliente"
					value="#{inseriAtualizaClienteMB.cliente.cpfCnpj}" size="40" maxlength="14" required="true" />
				<br />
				<p:outputLabel value="Inscrição Estadual:" />
				<br />
				<p:inputText id="idInscEstadualCliente"
					value="#{inseriAtualizaClienteMB.cliente.inscEstadual}" size="40" maxlength="16"/>
				<br />
				<p:outputLabel value="Endereço:" />
				<br />
				<p:outputLabel for="logradouro" value="Logradouro:" />
				<br />
				<p:selectOneMenu id="logradouro"
					value="#{inseriAtualizaClienteMB.cliente.endereco.tipoLogradouro}">
					<f:selectItem itemLabel="Rua" itemValue="Rua" />
					<f:selectItem itemLabel="Avenida" itemValue="Av" />
					<f:selectItem itemLabel="Travessa" itemValue="Travessa" />
					<f:selectItem itemLabel="Vila" itemValue="Vila" />
				</p:selectOneMenu>
				<br />
				<p:inputText id="idLogradouroEndereco"
					value="#{inseriAtualizaClienteMB.cliente.endereco.logradouro}" size="40" maxlength="40" />
				<br />
				<p:outputLabel value="Número:" />
				<br />
				<p:inputText id="idNumeroEndereco"
					value="#{inseriAtualizaClienteMB.cliente.endereco.numero}" size="40" maxlength="12"/>
				<br />
				<p:outputLabel value="Bairro:" />
				<br />
				<p:inputText id="idBairroEndereco"
					value="#{inseriAtualizaClienteMB.cliente.endereco.bairro}" size="40" maxlength="40" />
				<br />
				<p:outputLabel value="Cidade:" />
				<br />
				<p:inputText id="idCidadeEndereco"
					value="#{inseriAtualizaClienteMB.cliente.endereco.cidade}" size="40" maxlength="40"/>
				<br />
				<p:outputLabel value="UF:" />
				<br />
				<p:inputText id="idUFEndereco"
					value="#{inseriAtualizaClienteMB.cliente.endereco.uf}" size="2" maxlength="2"/>
				<br />
				<p:outputLabel value="Complemento:" />
				<br />
				<p:inputText id="idComplementoEndereco"
					value="#{inseriAtualizaClienteMB.cliente.endereco.complemento}" size="40" maxlength="100" />
				<br />
				<p:outputLabel value="CEP:" />
				<br />
				<p:inputText id="idCepEndereco"
					value="#{inseriAtualizaClienteMB.cliente.endereco.cep}" size="40" maxlength="9" />
				<br />
				<p:commandButton value="Salvar" icon="ui-icon-star"
					action="#{inseriAtualizaClienteMB.salvar}" ajax="false">
				</p:commandButton>
				<p:commandButton value="Novo" icon="ui-icon-star"
					action="#{inseriAtualizaClienteMB.novo}" ajax="false">
				</p:commandButton>
			</h:form>
	</ui:define>
</ui:composition>

</html>