<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<h2>Consulta Produto</h2>

		<h:form>
			<p:growl id="msgs" showDetail="true" />
			<h3 class="first">Produtos</h3>
			<p:dataTable var="entity" value="#{consultaExcluiProdutoMB.list}"
				tableStyleClass="ui-table-columntoggle">

				<p:column headerText="Código">
					<h:outputText value="#{entity.id}" />
				</p:column>
				<p:column headerText="Nome">
					<h:outputText value="#{entity.nome}" />
				</p:column>
				<p:column headerText="Descrição">
					<h:outputText value="#{entity.descricao}" />
				</p:column>
				<p:column headerText="Categoria">
					<h:outputText value="#{entity.categoria}" />
				</p:column>
				<p:column headerText="Fornecedor">
					<h:outputText value="#{entity.fornecedor}" />
				</p:column>
				<p:column headerText="Marca">
					<h:outputText value="#{entity.marca}" />
				</p:column>
				<p:column headerText="Volume">
					<h:outputText value="#{entity.volume}" />
				</p:column>
				<p:column headerText="Código Fiscal">
					<h:outputText value="#{entity.codigoFiscal}" />
				</p:column>
				<p:column headerText="Preço">
					<h:outputFormat value="#{entity.preco}" />
				</p:column>


				<p:column id="idAcoes" headerText="Ações">
					<p:commandLink id="idAcaoExcluirC_Link" value="Excluir"
						onclick="PF('dialogExcluir').show();" process="@this" ajax="true">
						<f:setPropertyActionListener value="#{entity}"
							target="#{consultaExcluiProdutoMB.tmp}" />
					</p:commandLink>
					<br />
					<p:commandLink id="idAcaoEditar" value="Editar"
						action="#{consultaExcluiProdutoMB.edit}" ajax="false">
						<f:setPropertyActionListener value="#{entity}"
							target="#{consultaExcluiProdutoMB.tmp}" />
					</p:commandLink>

				</p:column>
			</p:dataTable>


			<p:dialog header="Remover Produto?" modal="true" height="100"
				id="dialogExcluir" widgetVar="dialogExcluir">
				<h:outputText value="Remover Produto?" />
				<br />
				<br />
				<p:commandButton id="idAcaoExcluirSim" value="Sim"
					action="#{consultaExcluiProdutoMB.remove}" ajax="false" />

				<p:commandButton id="idAcaoExcluirNao" value="Não"
					onclick="PF('dialogExcluir').hide()" ajax="false" />
			</p:dialog>

		</h:form>
	</ui:define>
</ui:composition>

</html>