<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<h2>Produto</h2>
		<h:form>
			<p:messages id="messages" />
			<p:outputLabel value="Código:" />
			<br />
			<p:inputText id="idProduto" value="#{inseriAtualizaProdutoMB.entity.id}"
				disabled="true" />
			<br />
			<p:outputLabel value="Nome:" />
			<br />
			<p:inputText id="idNomeProduto" value="#{inseriAtualizaProdutoMB.entity.nome}"
				size="40" maxlength="50"  />
			<br />
			<p:outputLabel value="Descrição:" />
			<br />
			<p:inputText id="idDescricaoProduto"
				value="#{inseriAtualizaProdutoMB.entity.descricao}" size="40" maxlength="100" />
			<br />
			<p:outputLabel value="Categoria:" />
			<br />
			<p:inputText id="idCategoriaProduto"
				value="#{inseriAtualizaProdutoMB.entity.categoria}" size="40" maxlength="50" />
			<br />
			<p:outputLabel value="Fornecedor:" />
			<br />
			<p:inputText id="idFornecedorProduto"
				value="#{inseriAtualizaProdutoMB.entity.fornecedor}" size="40" maxlength="50" />
			<br />
			<p:outputLabel value="Marca:" />
			<br />
			<p:inputText id="idFornecedorMarca" value="#{inseriAtualizaProdutoMB.entity.marca}"
				size="40" maxlength="50" />
			<br />
			<p:outputLabel value="Volume:" />
			<br />
			<p:inputText id="idFornecedorVolume"
				value="#{inseriAtualizaProdutoMB.entity.volume}" size="40" maxlength="50" />
			<br />
			<p:outputLabel value="Código Fiscal:" />
			<br />
			<p:inputText id="idFornecedorCodFiscal"
				value="#{inseriAtualizaProdutoMB.entity.codigoFiscal}" size="40" maxlength="50" />
			<br />
			<p:outputLabel value="Preço:" />
			<br />
			<p:inputNumber id="idFornecedorPreco" value="#{inseriAtualizaProdutoMB.entity.preco}"
				size="40" maxlength="50" />
			<br />
			<br />
			<p:commandButton value="Salvar" icon="ui-icon-star"
				action="#{inseriAtualizaProdutoMB.salvar}" ajax="false">
			</p:commandButton>
			<p:commandButton value="Novo" icon="ui-icon-star"
				action="#{inseriAtualizaProdutoMB.novo}" ajax="false">
			</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>

</html>