<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<h2>Consulta Transportadora</h2>

		<h:form>
			<p:growl id="msgs" showDetail="true" />

			<h3 class="first">Transportadoras</h3>
			<p:dataTable var="entity"
				value="#{consultaExcluiTransportadoraMB.list}"
				tableStyleClass="ui-table-columntoggle">
				<p:column headerText="Código" priority="1">
					<h:outputText value="#{entity.id}" />
				</p:column>
				<p:column headerText="Nome da Transportadora">
					<h:outputText value="#{entity.nomeTransportadora}" />
				</p:column>
				<p:column headerText="CNPJ">
					<h:outputText value="#{entity.cnpj}" />
				</p:column>
				<p:column headerText="Reg Atendida">
					<h:outputText value="#{entity.regiaoAtendida}" />
				</p:column>
				<p:column headerText="Logradouro">
					<h:outputText value="#{entity.endereco.logradouro}" />
				</p:column>
				<p:column headerText="Número">
					<h:outputText value="#{entity.endereco.numero}" />
				</p:column>
				<p:column headerText="Bairro">
					<h:outputText value="#{entity.endereco.bairro}" />
				</p:column>
				<p:column headerText="Cidade">
					<h:outputText value="#{entity.endereco.cidade}" />
				</p:column>
				<p:column id="idAcoes" headerText="Ações">
					<p:commandLink id="idAcaoExcluirC_Link" value="Excluir"
						onclick="PF('dialogExcluir').show();" process="@this" ajax="true">
						<f:setPropertyActionListener value="#{entity}"
							target="#{consultaExcluiTransportadoraMB.tmp}" />
					</p:commandLink>
					<br />
					<p:commandLink id="idAcaoEditar" value="Editar"
						action="#{consultaExcluiTransportadoraMB.edit}" ajax="false">
						<f:setPropertyActionListener value="#{entity}"
							target="#{consultaExcluiTransportadoraMB.tmp}" />
					</p:commandLink>
				</p:column>
			</p:dataTable>


			<p:dialog header="Remover Transportadora?" modal="true" height="100"
				id="dialogExcluir" widgetVar="dialogExcluir">
				<h:outputText value="Remover Transportadora?" />
				<br />
				<br />
				<p:commandButton id="idAcaoExcluirSim" value="Sim"
					action="#{consultaExcluiTransportadoraMB.remove}" ajax="false" />

				<p:commandButton id="idAcaoExcluirNao" value="Não"
					onclick="PF('dialogExcluir').hide()" ajax="false" />
			</p:dialog>

		</h:form>
	</ui:define>
</ui:composition>

</html>