<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<h2>Transportadora</h2>
		<h:form>
			<p:messages id="messages" />
			<p:outputLabel value="Código:" />
			<br />
			<p:inputText id="idTransportadora"
				value="#{inseriAtualizaTransportadoraMB.entity.id}" disabled="true" />
			<br />
			<p:outputLabel value="Nome da Transportadora:" />
			<br />
			<p:inputText id="idNomeTransportadora"
				value="#{inseriAtualizaTransportadoraMB.entity.nomeTransportadora}"
				size="50" maxlength="50" />
			<br />
			<p:outputLabel value="CNPJ:" />
			<br />
			<p:inputText id="idCnpjTransportadora"
				value="#{inseriAtualizaTransportadoraMB.entity.cnpj}" size="14"
				maxlength="14" />
			<br />
			<p:outputLabel value="Veículo:" />
			<br />
			<p:inputText id="idVeiculoTransportadoraMotadora"
				value="#{inseriAtualizaTransportadoraMB.veiculoEntity.montadora}" size="45"
				maxlength="50" placeholder="Montadora" />
			<p:inputText id="idVeiculoTransportadoraModelo"
				value="#{inseriAtualizaTransportadoraMB.veiculoEntity.modelo}" size="45"
				maxlength="50" placeholder="Modelo" />
			<p:inputText id="idVeiculoTransportadoraAno"
				value="#{inseriAtualizaTransportadoraMB.veiculoEntity.ano}" size="4"
				maxlength="50" placeholder="Ano" />
			<p:inputText id="idVeiculoTransportadoraPlaca"
				value="#{inseriAtualizaTransportadoraMB.veiculoEntity.placa}" size="7"
				maxlength="50" placeholder="Placa" />
			<p:commandButton value="Adicionar"
				action="#{inseriAtualizaTransportadoraMB.add}" ajax="false">
			</p:commandButton>
			<br />
			<p:dataTable id="idVeiculos" var="veiculo"
				value="#{inseriAtualizaTransportadoraMB.entity.veiculos}"
				tableStyleClass="ui-table-columntoggle">
				<p:column headerText="Montadora" priority="1">
					<h:outputText value="#{veiculo.montadora}" />
				</p:column>
				<p:column headerText="Modelo" priority="1">
					<h:outputText value="#{veiculo.modelo}" />
				</p:column>
				<p:column headerText="Placa" priority="1">
					<h:outputText value="#{veiculo.placa}" />
				</p:column>

				<p:column id="idAcoes" headerText="Ações">
					<p:commandLink id="idAcaoExcluirC_Link" value="Excluir"
						onclick="PF('dialogExcluir').show();" process="@this" ajax="true">
						<f:setPropertyActionListener value="#{veiculo}"
							target="#{inseriAtualizaTransportadoraMB.veiculoEntity}" />
					</p:commandLink>
					<p:outputLabel value=" | " />
					<p:commandLink id="idAcaoEditar" value="Editar"
						action="#{inseriAtualizaTransportadoraMB.editVeiculo}" ajax="false">
						<f:setPropertyActionListener value="#{veiculo}"
							action="#{inseriAtualizaTransportadoraMB.editVeiculo}"
							target="#{inseriAtualizaTransportadoraMB.veiculoEntity}" />
					</p:commandLink>
					<br />
				</p:column>
			</p:dataTable>
			<br />

			<p:outputLabel value="Região Atendida:" />
			<br />
			<p:inputTextarea id="idRegiaoAtendidaTransportadora"
				value="#{inseriAtualizaTransportadoraMB.entity.regiaoAtendida}"
				rows="5" cols="30" counter="display" maxlength="200"
				counterTemplate="{0} Caracteres restantes." autoResize="false" />
			<h:outputText id="display" />
			<br />
			<p:outputLabel value="Endereço:" />
			<br />
			<p:outputLabel for="logradouro" value="Logradouro:" />
			<br />
			<p:selectOneMenu id="logradouro"
				value="#{inseriAtualizaTransportadoraMB.entity.endereco.tipoLogradouro}">
				<f:selectItem itemLabel="Rua" itemValue="Rua" />
				<f:selectItem itemLabel="Avenida" itemValue="Av" />
				<f:selectItem itemLabel="Travessa" itemValue="Travessa" />
				<f:selectItem itemLabel="Vila" itemValue="Vila" />
			</p:selectOneMenu>
			<br />
			<p:inputText id="idLogradouroEndereco"
				value="#{inseriAtualizaTransportadoraMB.entity.endereco.logradouro}"
				size="40" maxlength="40" />
			<br />
			<p:outputLabel value="Número:" />
			<br />
			<p:inputText id="idNumeroEndereco"
				value="#{inseriAtualizaTransportadoraMB.entity.endereco.numero}"
				size="40" maxlength="12" />
			<br />
			<p:outputLabel value="Bairro:" />
			<br />
			<p:inputText id="idBairroEndereco"
				value="#{inseriAtualizaTransportadoraMB.entity.endereco.bairro}"
				size="40" maxlength="40" />
			<br />
			<p:outputLabel value="Cidade:" />
			<br />
			<p:inputText id="idCidadeEndereco"
				value="#{inseriAtualizaTransportadoraMB.entity.endereco.cidade}"
				size="40" maxlength="40" />
			<br />
			<p:outputLabel value="UF:" />
			<br />
			<p:inputText id="idUFEndereco"
				value="#{inseriAtualizaTransportadoraMB.entity.endereco.uf}"
				size="2" maxlength="2" />
			<br />
			<p:outputLabel value="Complemento:" />
			<br />
			<p:inputText id="idComplementoEndereco"
				value="#{inseriAtualizaTransportadoraMB.entity.endereco.complemento}"
				size="40" maxlength="100" />
			<br />
			<p:outputLabel value="CEP:" />
			<br />
			<p:inputText id="idCepEndereco"
				value="#{inseriAtualizaTransportadoraMB.entity.endereco.cep}"
				size="40" maxlength="9" />
			<br />
			<p:commandButton value="Salvar" icon="ui-icon-star"
				action="#{inseriAtualizaTransportadoraMB.salvar}" ajax="false">
			</p:commandButton>
			<p:commandButton value="Novo" icon="ui-icon-star"
				action="#{inseriAtualizaTransportadoraMB.novo}" ajax="false">
			</p:commandButton>



			<!-- MODAL -->
			<p:dialog header="Remover Item?" modal="true" height="100"
				id="dialogExcluir" widgetVar="dialogExcluir">
				<h:outputText value="Remover Item?" />
				<br />
				<br />
				<p:commandButton id="idAcaoExcluirSim" value="Sim"
					action="#{inseriAtualizaTransportadoraMB.removeVeiculo}"
					ajax="false" />

				<p:commandButton id="idAcaoExcluirNao" value="Não"
					onclick="PF('dialogExcluir').hide()" ajax="false" />
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>

</html>