<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<h2>Ordem Entrega</h2>
		<h:form>
			<p:growl id="msgs" showDetail="true" />
			<p:messages id="messages" />
			<p:outputLabel value="Código:" />
			<br />
			<p:inputText id="idOrdemEntrega"
				value="#{inseriAtualizaOrdemEntregaMB.entity.id}" size="40"
				maxlength="40" />
			<br />
			<p:outputLabel value="Cliente:" />
			<br />
			<p:inputText id="idClienteEntity"
				value="#{inseriAtualizaOrdemEntregaMB.entity.cliente.nome}"
				size="40" maxlength="40" disabled="true"/>
			<p:commandButton  icon="ui-icon-search" actionListener="#{inseriAtualizaOrdemEntregaMB.searchCliente}"
				type="button" ajax="false" listener="#{inseriAtualizaOrdemEntregaMB.onClienteChosen}" />
			<br />
			<p:outputLabel value="Total da Carga:" />
			<br />
			<p:inputText id="idTotalCarga"
				value="#{inseriAtualizaOrdemEntregaMB.entity.totalCarga}" size="40"
				maxlength="40" />
			<br />
			<p:outputLabel value="Data Saída:" />
			<br />
			<p:calendar id="idDataSaida" size="15"
				value="#{inseriAtualizaOrdemEntregaMB.entity.dataSaida}"
				pattern="dd/MM/yyyy" mask="true" />
			<br />
			<p:outputLabel value="Hora Saída:" />
			<br />
			<p:inputNumber id="idHoraSaida" size="4"
				value="#{inseriAtualizaOrdemEntregaMB.entity.horaSaida}"
				decimalPlaces="0" />
			<br />

			<p:outputLabel value="Veículo:" />
			<br />
			<p:inputText id="idVeiculo" size="40"
				value="#{inseriAtualizaOrdemEntregaMB.entity.veiculo.placa}" disabled="true"/>
			<p:commandButton  icon="ui-icon-search" action="#{inseriAtualizaOrdemEntregaMB.searchVeiculo}"
				type="button" ajax="false" />
			<br />

			<p:outputLabel value="Motorista:" />
			<br />
			<p:inputText id="idMotorista" size="40"
				value="#{inseriAtualizaOrdemEntregaMB.entity.motorista.nome}" disabled="true"/>
			<p:commandButton  icon="ui-icon-search" action="#{inseriAtualizaOrdemEntregaMB.searchMotorista}"
				type="button" ajax="false" />
			<br />

			<p:outputLabel value="Peso Máximo:" />
			<br />
			<p:inputNumber id="idPesoMaximo" size="40"
				value="#{inseriAtualizaOrdemEntregaMB.entity.pesoMaximo}"
				decimalPlaces="0" />
			<br />

			<p:outputLabel value="Roteiro:" />
			<br />
			<p:inputTextarea id="idRoteiro" size="40"
				value="#{inseriAtualizaOrdemEntregaMB.entity.roteiro}" />
			<br />
		</h:form>
	</ui:define>
</ui:composition>

</html>