<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<ui:composition template="/template.xhtml">
	<ui:define name="content">

		<h2>Usuário</h2>
		<h:form>
			<p:messages id="messages" />

			<p:outputLabel value="Funcionário:" />
			<br />
			<p:selectOneMenu id="idFuncionarioSelectOneMenu"
				value="#{usuarioMB.entity.funcionario}"
				converter="funcionarioConverter">
				<f:selectItem itemLabel=""/>
				<f:selectItems value="#{usuarioMB.funcionarios}" var="f"
					itemLabel="#{f.nome}" itemValue="#{f}" />
			</p:selectOneMenu>


			<br />
			<p:outputLabel value="Login:" />
			<br />
			<p:inputText id="idLogin" value="#{usuarioMB.entity.login.login}"
				size="40" maxlength="40"
				disabled="#{not empty usuarioMB.entity.login.id}" />
			<br />
			<p:outputLabel value="Senha:" />
			<br />
			<p:password id="idSenha1" value="#{usuarioMB.entity.login.password}" />
			<br />
			<p:outputLabel value="Confirmação de Senha:" />
			<br />
			<p:password id="idSenha2" value="#{usuarioMB.confirmacao}" />
			<br />
			<br />
			<p:outputLabel value="Perfil:" />
			<br />
			<p:selectOneMenu id="idPerfil" value="#{usuarioMB.entity.perfil}">
				<f:selectItem itemLabel="" itemValue="-1" />
				<f:selectItems value="#{usuarioMB.perfis}" var="p"
					itemLabel="#{p.nome}" itemValue="#{p.codigo}" />
			</p:selectOneMenu>
			<br />
			<p:commandButton value="Salvar" action="#{usuarioMB.salvar}"
				ajax="false" update="idItens" />
			<p:commandButton value="Novo" action="#{usuarioMB.novo}"
				ajax="false" update="idItens" />

			<h3 class="first">Usuários</h3>

			<p:dataTable id="idItens" var="item" value="#{usuarioMB.list}"
				tableStyleClass="ui-table-columntoggle">
				<p:column headerText="Código" priority="1">
					<h:outputText value="#{item.id}" />
				</p:column>
				<p:column headerText="Nome" priority="1">
					<h:outputText value="#{item.funcionario.nome}" />
				</p:column>
				<p:column headerText="Data de Criação" priority="1">
					<h:outputText value="#{item.funcionario.dataCriacao}" />
				</p:column>
				<p:column headerText="Login" priority="1">
					<h:outputText value="#{item.login.login}" />
				</p:column>

				<p:column id="idAcoes" headerText="Ações">
					<p:commandLink id="idAcaoExcluirC_Link" value="Excluir"
						onclick="PF('dialogExcluir').show();" process="@this" ajax="true">
						<f:setPropertyActionListener value="#{item}"
							target="#{usuarioMB.tmp}" />
					</p:commandLink>
					<p:outputLabel value=" | " />
					<p:commandLink id="idAcaoEditar" value="Editar"
						action="#{usuarioMB.editar}" ajax="false">
						<f:setPropertyActionListener value="#{item}"
							action="#{usuarioMB.editar}" target="#{usuarioMB.tmp}" />
					</p:commandLink>
					<br />
				</p:column>
			</p:dataTable>

			<!-- MODAL -->
			<p:dialog header="Remover Item?" modal="true" height="100"
				id="dialogExcluir" widgetVar="dialogExcluir">
				<h:outputText value="Remover Item?" />
				<br />
				<br />
				<p:commandButton id="idAcaoExcluirSim" value="Sim"
					action="#{usuarioMB.remove}" ajax="false" />

				<p:commandButton id="idAcaoExcluirNao" value="Não"
					onclick="PF('dialogExcluir').hide()" ajax="false" />
			</p:dialog>

		</h:form>
	</ui:define>
</ui:composition>

</html>