<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">
<!-- https://www.primefaces.org/showcase/ui/data/datatable/expansion.xhtml -->
<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<h2>Consulta Pedido</h2>

		<h:form>
			<p:growl id="msgs" showDetail="true" />

			<h3 class="first">Pedidos</h3>
			<p:dataTable var="entity" value="#{consultaExcluiPedidoMB.list}"
				tableStyleClass="ui-table-columntoggle">
				<p:column style="width:16px">
					<p:rowToggler />
				</p:column>
				<p:column headerText="Código" priority="1">
					<h:outputText value="#{entity.id}" />
				</p:column>
				<p:column headerText="Data do Pedido" priority="1">
					<h:outputText value="#{entity.dataPedido}" />
				</p:column>
				<p:column headerText="Código Pagamento" priority="1">
					<h:outputText value="#{entity.codigoPagamento}" />
				</p:column>
				<p:column headerText="Funcionario" priority="1">
					<h:outputText value="#{entity.funcionario.nome}" />
				</p:column>
				<p:column headerText="Valor Total" priority="1">
					<h:outputText value="#{entity.valorTotal}" />
				</p:column>
				<p:column headerText="Peso Total" priority="1">
					<h:outputText value="#{entity.pesoTotal}" />
				</p:column>
				<p:rowExpansion>
					<p:dataTable var="item" value="#{entity.itens}"
						tableStyleClass="ui-table-columntoggle">

						<p:column headerText="Nome do Produto" priority="1">
							<h:outputText value="#{item.produto.nome}" />
						</p:column>
						<p:column headerText="Descrição do Produto" priority="1">
							<h:outputText value="#{item.produto.descricao}" />
						</p:column>
						<p:column headerText="Preço do Produto" priority="1">
							<h:outputText value="#{item.precoUnitario}" />
						</p:column>
						<p:column headerText="Quantidade" priority="1">
							<h:outputText value="#{item.quantidade}" />
						</p:column>

					</p:dataTable>
				</p:rowExpansion>

				<p:column id="idAcoes" headerText="Ações">
					<p:commandLink id="idAcaoExcluirC_Link" value="Excluir"
						onclick="PF('dialogExcluir').show();" process="@this" ajax="true">
						<f:setPropertyActionListener value="#{entity}"
							target="#{consultaExcluiPedidoMB.tmp}" />
					</p:commandLink>
					<br />
					<p:commandLink id="idAcaoEditar" value="Editar"
						action="#{consultaExcluiPedidoMB.edit}" ajax="false">
						<f:setPropertyActionListener value="#{entity}"
							target="#{consultaExcluiPedidoMB.tmp}" />
					</p:commandLink>
				</p:column>
			</p:dataTable>


			<p:dialog header="Remover Pedido?" modal="true" height="100"
				id="dialogExcluir" widgetVar="dialogExcluir">
				<h:outputText value="Remover Pedido?" />
				<br />
				<br />
				<p:commandButton id="idAcaoExcluirSim" value="Sim"
					action="#{consultaExcluiPedidoMB.remove}" ajax="false" />

				<p:commandButton id="idAcaoExcluirNao" value="Não"
					onclick="PF('dialogExcluir').hide()" ajax="false" />
			</p:dialog>

		</h:form>
	</ui:define>
</ui:composition>

</html>