<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<h2>Pedido</h2>
		<h:form>
			<p:growl id="msgs" showDetail="true" />
			<p:messages id="messages" />
			<p:panelGrid id="painel1" styleClass="noBorder">
				<p:row>
					<p:column>
						<p:outputLabel value="Código:" />
					</p:column>
					<p:column>
						<p:inputText id="idPedido"
							value="#{inseriAtualizaPedidoMB.entity.id}" disabled="true"
							size="15" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Data do Pedido:" size="40"
							style="width:150px;" />
					</p:column>
					<p:column>
						<p:calendar id="idDataPedido" size="15"
							value="#{inseriAtualizaPedidoMB.entity.dataPedido}"
							pattern="dd/MM/yyyy" mask="true" />
					</p:column>
					<p:column>
						<p:outputLabel value="Cliente:" size="40" />
					</p:column>
					<p:column>
						<p:selectOneMenu id="idCliente"
							value="#{inseriAtualizaPedidoMB.entity.cliente}"
							converter="clienteConverter">
							<f:selectItem itemLabel="" />
							<f:selectItems value="#{inseriAtualizaPedidoMB.clientes}" var="c"
								itemLabel="#{c.nome}" itemValue="#{c}" />
						</p:selectOneMenu>

					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Valor Total:" />
					</p:column>
					<p:column>
						<p:inputNumber id="idValorTotal" size="15"
							value="#{inseriAtualizaPedidoMB.entity.valorTotal}"
							disabled="true" />
					</p:column>
					<p:column>
						<p:outputLabel value="Peso Total:" />
					</p:column>
					<p:column>
						<p:inputNumber id="idPesoTotal" size="15"
							value="#{inseriAtualizaPedidoMB.entity.pesoTotal}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Código do Pagamento:" />
					</p:column>
					<p:column>
						<p:inputText id="idCodigoPagamento" size="20"
							value="#{inseriAtualizaPedidoMB.entity.codigoPagamento}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:autoComplete id="idProduto"
				value="#{inseriAtualizaPedidoMB.nomeProduto}"
				placeholder="Produto"
				completeMethod="#{inseriAtualizaPedidoMB.completeText}" />
			<p:inputNumber id="idQuantidade" style="margin-right:30px"
				placeholder="Quantidade"
				value="#{inseriAtualizaPedidoMB.quantidade}" size="10" />
			<p:commandButton value="Adicionar"
				action="#{inseriAtualizaPedidoMB.add}" ajax="false" update="idItens" />
			<br />
			<h3 class="first">Produtos</h3>
			<p:dataTable id="idItens" var="item"
				value="#{inseriAtualizaPedidoMB.entity.itens}"
				tableStyleClass="ui-table-columntoggle">
				<p:column headerText="Código" priority="1">
					<h:outputText value="#{item.id}" />
				</p:column>
				<p:column headerText="Produto" priority="1">
					<h:outputText value="#{item.produto.nome}" />
				</p:column>
				<p:column headerText="Quantidade" priority="1">
					<h:outputText value="#{item.quantidade}" />
				</p:column>
				<p:column headerText="Preço Unitário" priority="1">
					<h:outputText value="#{item.produto.preco}" />
				</p:column>
				<p:column id="idAcoes" headerText="Ações">
					<p:commandLink id="idAcaoExcluirC_Link" value="Excluir"
						onclick="PF('dialogExcluir').show();" process="@this" ajax="true">
						<f:setPropertyActionListener value="#{item}"
							target="#{inseriAtualizaPedidoMB.tmp}" />
					</p:commandLink>
					<br />
				</p:column>
			</p:dataTable>
			<br />
			<br />
			<!-- Botões -->
			<p:commandButton value="Salvar" icon="ui-icon-star"
				action="#{inseriAtualizaPedidoMB.salvar}" ajax="false">
			</p:commandButton>
			<p:commandButton value="Novo" icon="ui-icon-star"
				action="#{inseriAtualizaPedidoMB.novo}" ajax="false">
			</p:commandButton>

			<!-- MODAL -->
			<p:dialog header="Remover Item?" modal="true" height="100"
				id="dialogExcluir" widgetVar="dialogExcluir">
				<h:outputText value="Remover Item?" />
				<br />
				<br />
				<p:commandButton id="idAcaoExcluirSim" value="Sim"
					action="#{inseriAtualizaPedidoMB.remove}" ajax="false" />

				<p:commandButton id="idAcaoExcluirNao" value="Não"
					onclick="PF('dialogExcluir').hide()" ajax="false" />
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>

</html>