<ui:composition xmlns ="http: //www.w3.org /1999/xhtml"
  xmlns:ui ="http: //java.sun.com /jsf/facelets"
  xmlns:functions ="http: //br.com.bvmf.ibalcao.webportal /functions"> 
<style>

div.divContentPlaceHolder
	{
	width: 97%;
	display: block;
	/*min-height: 380px; cutted in 07/05/2013 */
	_height: 445px;
	margin: 0px 30px;
	/**min-height:440px;*/
}

.noBorder tr, .noBorder td {
	border: none !important;
}

h2 {
    font-family: Verdana, serif;
    color: #333333;
}
h3 {
    font-family: Verdana, cursive;
    color: #333333;
}

</style>
</ui:composition>