<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<ui:composition template="/template.xhtml">
	<ui:define name="content">
		<h2>Funcionario</h2>
		<h:form>
			<p:messages id="messages" />
			<p:outputLabel value="Código:" />
			<br />
			<p:inputText id="idFuncionario"
				value="#{inseriAtualizaFuncionarioMB.entity.id}" disabled="true" />
			<br />
			<p:outputLabel value="Nome:" />
			<br />
			<p:inputText id="idNomeFuncionario"
				value="#{inseriAtualizaFuncionarioMB.entity.nome}" size="40"
				maxlength="40" required="true" />
			<br />
			<p:outputLabel value="Data Nascimento:" />
			<br />
			<p:calendar id="mask"
				value="#{inseriAtualizaFuncionarioMB.entity.dataNascimento}"
				pattern="dd/MM/yyyy" mask="true" />
			<br />
			<p:outputLabel value="CPF/CNPJ:" />
			<br />
			<p:inputText id="idCpfCnpjFuncionario"
				value="#{inseriAtualizaFuncionarioMB.entity.cpfCnpj}" size="40"
				maxlength="14" required="true" />
			<br />
			<p:outputLabel value="Endereço:" />
			<br />
			<p:outputLabel for="logradouro" value="Logradouro:" />
			<br />
			<p:selectOneMenu id="logradouro"
				value="#{inseriAtualizaFuncionarioMB.entity.endereco.tipoLogradouro}">
				<f:selectItem itemLabel="Rua" itemValue="Rua" />
				<f:selectItem itemLabel="Avenida" itemValue="Av" />
				<f:selectItem itemLabel="Travessa" itemValue="Travessa" />
				<f:selectItem itemLabel="Vila" itemValue="Vila" />
			</p:selectOneMenu>
			<br />
			<p:inputText id="idLogradouroEndereco"
				value="#{inseriAtualizaFuncionarioMB.entity.endereco.logradouro}"
				size="40" maxlength="40" />
			<br />
			<p:outputLabel value="Número:" />
			<br />
			<p:inputText id="idNumeroEndereco"
				value="#{inseriAtualizaFuncionarioMB.entity.endereco.numero}"
				size="40" maxlength="12" />
			<br />
			<p:outputLabel value="Bairro:" />
			<br />
			<p:inputText id="idBairroEndereco"
				value="#{inseriAtualizaFuncionarioMB.entity.endereco.bairro}"
				size="40" maxlength="40" />
			<br />
			<p:outputLabel value="Cidade:" />
			<br />
			<p:inputText id="idCidadeEndereco"
				value="#{inseriAtualizaFuncionarioMB.entity.endereco.cidade}"
				size="40" maxlength="40" />
			<br />
			<p:outputLabel value="UF:" />
			<br />
			<p:inputText id="idUFEndereco"
				value="#{inseriAtualizaFuncionarioMB.entity.endereco.uf}" size="2"
				maxlength="2" />
			<br />
			<p:outputLabel value="Complemento:" />
			<br />
			<p:inputText id="idComplementoEndereco"
				value="#{inseriAtualizaFuncionarioMB.entity.endereco.complemento}"
				size="40" maxlength="100" />
			<br />
			<p:outputLabel value="CEP:" />
			<br />
			<p:inputText id="idCepEndereco"
				value="#{inseriAtualizaFuncionarioMB.entity.endereco.cep}" size="40"
				maxlength="9" />
			<br />
			<p:commandButton value="Salvar" icon="ui-icon-star"
				action="#{inseriAtualizaFuncionarioMB.salvar}" ajax="false">
			</p:commandButton>
			<p:commandButton value="Novo" icon="ui-icon-star"
				action="#{inseriAtualizaFuncionarioMB.novo}" ajax="false">
			</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>

</html>