<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags">

	<h:form>
		<p:growl id="messages" />

		<p:menubar>
			<p:submenu label="Cadastro" icon="ui-icon-document">
				<p:submenu label="Cliente" icon="ui-icon-contact">
					<p:menuitem value="Inserir"
						url="/cliente/inseriAtualizaCliente.xhtml" />
					<p:menuitem value="Consultar/Excluir/Editar"
						url="/cliente/consultaExcluiCliente.xhtml" />
				</p:submenu>
				<p:submenu label="Funcionário" icon="ui-icon-contact">
					<p:menuitem value="Inserir"
						url="/funcionario/inseriAtualizaFuncionario.xhtml" />
					<p:menuitem value="Consultar/Excluir/Editar"
						url="/funcionario/consultaExcluiFuncionario.xhtml" />
				</p:submenu>
				<p:submenu label="Transportadora" icon="ui-icon-contact">
					<p:menuitem value="Inserir"
						url="/transportadora/inseriAtualizaTransportadora.xhtml" />
					<p:menuitem value="Consultar/Excluir/Editar"
						url="/transportadora/consultaExcluiTransportadora.xhtml" />
				</p:submenu>
				<p:separator />
				<p:submenu label="Usuário" icon="ui-icon-contact">
					<p:menuitem value="Usuário" url="/usuario/usuario.xhtml" />
				</p:submenu>
				<p:submenu label="Produto" icon="ui-icon-contact">
					<p:menuitem value="Inserir"
						url="/produto/inseriAtualizaProduto.xhtml" />
					<p:menuitem value="Consultar/Excluir/Editar"
						url="/produto/consultaExcluiProduto.xhtml" />
				</p:submenu>
				<p:menuitem value="Home" url="/home/home.xhtml" />
			</p:submenu>
			<p:submenu label="Pedido" icon="ui-icon-pencil">
				<p:menuitem value="Novo" url="/pedido/inseriAtualizaPedido.xhtml" />
				<p:menuitem value="Consultar/Excluir/Editar"
					url="/pedido/consultaExcluiPedido.xhtml" />
				<p:submenu label="Ordem Entrega" icon="ui-icon-circle-triangle-s">
					<p:menuitem value="Novo" url="/ordementrega/inseriAtualizaOrdemEntrega.xhtml" />
					<p:menuitem value="Consultar/Excluir/Editar"
						url="/ordementrega/consultaExcluiOrdemEntrega.xhtml" />
				</p:submenu>
			</p:submenu>
			<f:facet name="options">
				<p:inputText style="margin-right:10px" placeholder="Busca" />
				<p:commandButton value="Logout" icon="ui-icon-extlink"
					action="#{menuMB.logout}" ajax="false" />
			</f:facet>
		</p:menubar>
	</h:form>
</ui:composition>