<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html" encoding="UTF-8">

	<h:head>
		<f:facet name="first">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=9;IE=EDGE" />
		</f:facet>
		<ui:include src="css/style.css" />

		<title>EP2C - Login</title>
	</h:head>

	<h:body style="font-size:11px;">
		<h:outputScript library="omnifaces" name="fixviewstate.js"
			target="head" />
		<h2 class="first">Login EP2C</h2>
		<h:form>
			<p:messages id="messages" />
			<br />
			<br />
			<br />
			<p:panelGrid columns="2" styleClass="noBorder">
				<p:outputLabel for="nomeUsuario" value="Login:" />
				<p:inputText id="nomeUsuario" value="#{loginMB.login.login}" />

				<p:outputLabel for="senha" value="Senha:" />
				<p:password id="senha" value="#{loginMB.login.password}" />

				<p:commandButton value="Enviar" action="#{loginMB.login}"
					ajax="false">
				</p:commandButton>
			</p:panelGrid>
		</h:form>
	</h:body>
</f:view>
</html>