<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html" encoding="UTF-8">

	<h:head>
		<f:facet name="first">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=9;IE=EDGE" />
		</f:facet>
		<ui:include src="css/style.css" />

		<title>EP2C</title>
	</h:head>

	<h:body style="font-size:11px;">
		<h:outputScript library="omnifaces" name="fixviewstate.js"
			target="head" />

		<p:panel styleClass="panel">
			<ui:insert name="header">
				<ui:include src="header.xhtml" />
			</ui:insert>
		</p:panel>

		<div id="divEstruturaPrincipal">
			<div id="divConteudo">
				<ui:insert name="content" />
			</div>
		</div>
	</h:body>
</f:view>
</html>